<mat-card [ngStyle]="{float: 'left'}" class="example-card" *ngFor="let datum of data">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datum.title}}</mat-card-title>
      <mat-card-subtitle >{{datum.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img [ngStyle]="{width: '300px'}" mat-card-image src="{{datum.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <button class="detail" (click)="onCardClick(datum)">Voir le détail</button>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button mat-button (click)="onLikeCLickend(datum.id)">Like</button>
      <button mat-button (click)="onAddBasket(datum)">Add</button>
    </mat-card-actions>
</mat-card>

